[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/minibufexpl"]
	path = _vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
