py << EOF
import os.path
import sys
import vim

# SET THIS MANUALLY
# =================
DJANGO_SETTINGS_MODULE='tekblog_sample.settings'

project_base_dir = os.environ['VIRTUAL_ENV']

sys.path.insert(0, project_base_dir)

activate_this = os.path.join(project_base_dir, 'bin/activate_this.py')
execfile(activate_this, dict(__file__=activate_this))

os.environ['DJANGO_SETTINGS_MODULE'] = DJANGO_SETTINGS_MODULE
EOF

