alias ls='exa -lah'
alias cat='bat --paging=never'
alias less='bat --paging=always'
alias drun='docker run --rm -it -v "${PWD}":/app -w /app'
alias diff="diff --color -u"
alias vim='nvim'

# SRE aliases
alias k="kubectl"
alias tf="terraform"
