[user]
	name = John Anderson
	email = sontek@gmail.com

[includeIf "gitdir:~/code/zapier/"]
  path = .gitconfig-zapier

[includeIf "gitdir:~/code/stacklet/"]
  path = .gitconfig-stacklet

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[credential]
	helper = store
