[user]
	name = John Anderson
	email = sontek@gmail.com

[includeIf "gitdir:~/code/ditto/"]
  path = .gitconfig-ditto

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[credential]
	helper = store
